Dictionary

#Dictionary creation

In [ ]:
person = {
    "name": "alice johnson",
    "age": 23,
    "profession": "software engineer",
    "salary":75000,
    "skills":["python","javascript","sql"]
}

#Accesing values

In [ ]:
print(f"Name:{person['name']}")
print(f"Age:{person.get('age','unknown')}")

Name:alice johnson
Age:23

#Dictionary methods

In [ ]:
print(f"Keys:{list(person.keys())}")
print(f"values:{list(person.values())}")
print(f"Items:{list(person.items())}")

Keys:['name', 'age', 'profession', 'salary', 'skills']
values:['alice johnson', 23, 'software engineer', 75000, ['python', 'javascript', 'sql']]
Items:[('name', 'alice johnson'), ('age', 23), ('profession', 'software engineer'), ('salary', 75000), ('skills', ['python', 'javascript', 'sql'])]

#Adding/updating

In [ ]:
person["location"] = "New york"
person["salary"] = 8000

#Practical use case:Inventory management

In [ ]:
inventory = {
    "laptops":{
        "quantity":50,
        "price":999.99
    },
    "phones":{
        "quantity":100,
        "price":599.99
    },
    "tablets":{
        "quantity":30,
        "price":399.99
    }

}

#Nested access

In [ ]:
print(f"Laptop price:${inventory['laptops']['price']}")

Laptop price:$999.99

#Sets

In [ ]:
colors = {"red","green","blue","red"}
print(f"Colors:{colors}")

Colors:{'green', 'red', 'blue'}

#Set operations

In [ ]:
team1_skills ={"python","javascript","sql","react"}
team2_skills ={"javascript","sql","java","spring"}

#Common operations

In [ ]:
print(f"Common skills:{team1_skills.intersection(team2_skills)}")
print(f"All skills:{team1_skills.union(team2_skills)}")
print(f"Team1 only:{team1_skills.difference(team2_skills)}")

Common skills:{'sql', 'javascript'}
All skills:{'spring', 'sql', 'react', 'javascript', 'python', 'java'}
Team1 only:{'python', 'react'}

#Adding to sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"updated colors:{colors}")

updated colors:{'purple', 'green', 'yellow', 'orange', 'red', 'blue'}

#Control Flow

#Basic if-else

In [ ]:
def get_grade_letter(score):
  if score>=90:
    return "A"
  elif score>=80:
    return "B"
  elif score>=70:
    return "C"
  elif score>=60:
    return "D"
  else:
    return "E"

#Test the function

In [ ]:
test_score=[95,83,72,65,58]
for score in test_score:
  grade=get_grade_letter(score)
  print(f"Score {score} : Grade{grade}")

Score 95 : GradeA
Score 83 : GradeB
Score 72 : GradeC
Score 65 : GradeD
Score 58 : GradeE

#Nested conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost = 5.0

  if weight <=1:
    weight_cost = 2.0
  elif weight <= 5:
    weight_cost = 5.0
  else:
    weight_cost = 10.0

  if distance <= 100:
    distance_cost = 1.0
  elif distance <= 500:
    distance_cost = 3.0
  else:
    distance_cost = 7.0
  return base_cost+weight_cost+distance_cost

#Test shipping costs

In [ ]:
print(f"light,close:${get_shipping_cost(0.5,50)}")
print(f"heavy,far:{get_shipping_cost(10,800)}")

light,close:$8.0
heavy,far:22.0

#Loops for loop

#Basic for loop

In [ ]:
fruits = ["apple","banana","orange","grape"]
for fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like orange
I like grape

#Loop with enmerate (get index)

In [ ]:
for i,fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.apple
2.banana
3.orange
4.grape

#Loop with range

In [ ]:
for day in range(1,8):
  print(f"day {day} of the week")

day 1 of the week
day 2 of the week
day 3 of the week
day 4 of the week
day 5 of the week
day 6 of the week
day 7 of the week

#Nested loops-Creating a multiplication table

In [ ]:
print("Multiplication table:")
for i in range(1,6):
  for j in range(1,6):
    product = i*j
    print(f"{i} x {j} = {product:2d}",end=" ")
    print()

Multiplication table:
1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

#Processing data with loops

In [ ]:
sales_data = [
    {"product":"laptop","price":999,"quantity":5},
    {"product":"phone","price":599,"quantity":10},
    {"product":"tablet","price":399,"quantity":8},
]
total_revenue = 0

for item in sales_data:
  item_revenue=item["price"]*item["quantity"]
  total_revenue=item_revenue
  print(f"{item['product']}:${item_revenue}")

print(f"total_revenue:${total_revenue}")

laptop:$4995
phone:$5990
tablet:$3192
total_revenue:$3192

#Loops-while loop

#While loop for user input simulation

In [ ]:
def simple_guessing_game():
  target = 7
  guess = 0
  attempts = 0
  print("guess the number between 1 and 10!")

  while guess!=target:
    import random
    guess = random.randint(1,10)
    attempts += 1

    if  guess < target:
      print(f"guess {attempts}:{guess} - too low!")
    elif  guess > target:
      print(f"guess {attempts}:{guess} - too high!")
    else:
      print(f"guess {attempts}:{guess} - correct!")


    if attempts > 10:
      print("max attempts reached!")
      break

  print(f"game finished in {attempts} attempts")


simple_guessing_game()

guess the number between 1 and 10!
guess 1:3 - too low!
guess 2:6 - too low!
guess 3:9 - too high!
guess 4:2 - too low!
guess 5:9 - too high!
guess 6:5 - too low!
guess 7:3 - too low!
guess 8:1 - too low!
guess 9:1 - too low!
guess 10:5 - too low!
guess 11:3 - too low!
max attempts reached!
game finished in 11 attempts

#while loop for processing

In [ ]:
def process_queue():
  queue = ["task1","task2","task3","task4"]

  while queue:
    current_task = queue.pop(0)
    print(f"processing: {current_task}")

    print(f"remaining task: {len(queue)}")

  print("All task completed")

process_queue()

processing: task1
remaining task: 3
processing: task2
remaining task: 2
processing: task3
remaining task: 1
processing: task4
remaining task: 0
All task completed

#function basics

In [ ]:
def greet(name):
  return f"Hello, {name}"

Fuction call

In [ ]:
message = greet("python programmer")
print(message)

Hello, python programmer

Function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area = length*width
  return area

Test the function

In [ ]:
room_area = calculate_area(12,10)
print(f"Room area:{room_area} square feet")

Room area:120 square feet

#Function with default parameters

In [ ]:
def create_user_profile(name, age=18,location="unknown", active=True):
  return{
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

#Different ways to call

In [ ]:
profile1 = create_user_profile("alice")
profile2 = create_user_profile("bob")
profile3 = create_user_profile("charlie",location="new york",age=30)
print(f"profile 1:{profile1}")
print(f"profile 2:{profile2}")
print(f"profile 3:{profile3}")

profile 1:{'name': 'alice', 'age': 18, 'location': 'unknown', 'active': True}
profile 2:{'name': 'bob', 'age': 18, 'location': 'unknown', 'active': True}
profile 3:{'name': 'charlie', 'age': 30, 'location': 'new york', 'active': True}

#Advanced function concepts

#Function returning multiple values

In [ ]:
def analyze_text(text):
  words = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_space = len(text.replace(" "," "))

  return word_count, char_count, char_count_no_space

#Test with sample text

In [ ]:
sample_text = "Python is a powerful programming language"
words,chars,char_no_space = analyze_text(sample_text)

print(f"Text:'{sample_text}'")
print(f"Word count:{words}")
print(f"char count: {chars}")
print(f"char (no spaces):{char_no_space}")

Text:'Python is a powerful programming language'
Word count:6
char count: 41
char (no spaces):41

#Variable-length arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers)/len(numbers)

#test with different numbers of arguments

In [ ]:
avg1 = calculate_average(10,20,30)
avg2 = calculate_average(5,15,25,35,45)
avg3 = calculate_average(100)

print(f"Average of 10,20,30:{avg1}")
print(f"Average of 5,15,25,35,45:{avg2}")
print(f"Average of 100:{avg3}")

Average of 10,20,30:20.0
Average of 5,15,25,35,45:25.0
Average of 100:100.0

#Keyword arguments

In [ ]:
def create_report(**data):
  print("=== REPORT ===")

  for key,value in data.items():
    print(f"{key.replace('_','').title()}: {value}")

  print("============")

create_report(
    title="Monthly sales report",
    date="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150
)

=== REPORT ===
Title: Monthly sales report
Date: 2024-01-01
Totalsales: 15000
Newcustomers: 25
Returningcustomers: 150
============

#Lambda functions

Lambda functions(anonymous functions)

#Regular function

In [ ]:
def square(x):
  return x**2

Lambda equivalent

In [ ]:
square_lambda = lambda x:x**2
print(f"Regular function:{square(5)}")
print(f"Lambda function:{square_lambda(5)}")

Regular function:25
Lambda function:25

#Lambda with multiple arguments

In [ ]:
multiply = lambda x,y:x*y
print(f"multiply:{multiply(3,4)}")

multiply:12

Lambda with Built-in Functions

In [ ]:
numbers = [1,2,3,4,5]
squared = list(map(lambda x: x**2,numbers))
print(f"squared numbers:{squared}")

squared numbers:[1, 4, 9, 16, 25]

Filtering with lambda

In [ ]:
ages = [16,21,35,12,45,18,67]
adults = list(filter(lambda age: age >= 18,ages))
print(f"Adult ages:{adults}")

Adult ages:[21, 35, 45, 18, 67]

Sorting with lambda

In [ ]:
people = [
    {"name":"alice","age":30},
    {"name":"bob","age":25},
    {"name":"charlie","age":35}
]
sorted_people = sorted(
    people,
    key=lambda person: person["age"]
)

print("people sorted by age:")


for person in sorted_people:
  print(f"{person['name']}: {person['age']}")

people sorted by age:
bob: 25
alice: 30
charlie: 35