In [ ]:
name="noushin"
print(f"my name is {name}")

my name is noushin

**Python Syntax & Structure**

Basic Syntax rules

In [ ]:
print("Hello,World!") # Function call
x = 5 #variable assignment
y = 10 # no need to declare type

Hello,World!

Python is case-sensitive

In [ ]:
Name="noushin"
name="mubin"
print(Name,name)

noushin mubin

Indentation matters

In [ ]:
if x>0:
  print("x is positive") #4 spaces indentation
  print("this is inside the if block")

x is positive
this is inside the if block

#**Variables & Data Types**

Numeric Types

In [ ]:
age=13 # int
height=4.4 # float
complex_num=3+4j # complex

String Type

In [ ]:
name="ayesha"
msg='Hello World'
multiline="""this is multiline string"""

boolean type

In [ ]:
is_active = True
is_finished = False

Type checking

In [ ]:
print(type(age)) #<class 'int'>
print(type(height)) #<class 'float'>
print(type(name)) #<class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
type(age)

int

Type Conversion

In [ ]:
str_number = "123"
int_number = int(str_number)
float_number = float(str_number)

print(f"original: {str_number} (type: {type(str_number)})")
print(f"integer: {int_number} (type: {type(int_number)})")
print(f"float: {float_number} (type: {type(float_number)})")

original: 123 (type: <class 'str'>)
integer: 123 (type: <class 'int'>)
float: 123.0 (type: <class 'float'>)

**Hands-on Exercise:**

**Exercise 1:Personal Information**

Create variables for personal information

In [ ]:
first_name = "Noushin"
last_name = "Goundi"
age = 21
height = 5.5
is_student = True

Print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Student: {is_student}")

Name: Noushin Goundi
Age: 21
Height: 5.5 feet
Student: True

Type conversions

In [ ]:
age_str = str(age)
height_int = int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 21
Height as integer: 5

**Operators & Basic Operations**

Arithmetic Operators

In [ ]:
a=20
b=15

print("addition:",(a+b))
print("subtraction:",(a-b))
print("multiplication:",(a*b))
print("division:",(a/b))
print("floor division:",(a//b))
print("modulus:",(a%b))
print("exponentiation:",(a**b))

addition: 35
subtraction: 5
multiplication: 300
division: 1.3333333333333333
floor division: 1
modulus: 5
exponentiation: 32768000000000000000

Order of operations



*   P-Parantheses
*   E-Exponents
*   M-Multiplication
*   D-Divison
*   A-Addition
*   S-Subtraction

In [ ]:
result = 2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

Relational operator

In [ ]:
x = 5
y = 10

print("equal to:",(x==y))
print("not equal to:",(x!=y))
print("less than:",(x<y))
print("greater than:",(x>y))
print("less than or equal:",(x<=y))
print("greater than or equal:",(x>=y))

equal to: False
not equal to: True
less than: True
greater than: False
less than or equal: True
greater than or equal: False

String comparison

In [ ]:
name1="Alice"
name2="Bob"
print(f"'{name1}' < '{name2}': {name1 < name2}")

'Alice' < 'Bob': True

Logical operators

In [ ]:
p=True
q=False
print(f"p and q:{p and q}")
print(f"p or q:{p or q}")
print(f"not p:{not p}")

p and q:False
p or q:True
not p:False

In [ ]:
# practice example
age=20
has_license = True
can_drive = age >= 18 and has_license
print(f"can drive: {can_drive}")

can drive: True

In [ ]:
#Multiple conditions
score = 85
is_present = True
can_pass = score >= 80 and is_present
print(f"can pass: {can_pass}")

can pass: True

**Hands-on Exercise**



Exercise 2: Simple Calculator

Create a calculator that checks if a person qualifies for a loan

In [ ]:
#personal information
age = 21
annual_income = 40000
credit_score = 550
has_collateral = True

In [ ]:
#loan criteria
min_age = 18
min_income=30000
min_credit_score = 650

In [ ]:
#check qualification

age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qualified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified

#**Data Structures**

#Lists

#Creating lists

In [ ]:
fruits = ["apple","banana","orange","grape"]
numbers = [10,20,30,40,50]
mixed_data = [1,"Hello",3.14,True]

#List indexing(0-based)

In [ ]:
print(f"First fruit:{fruits[0]}")
print(f"last fruit:{fruits[-1]}")
print(f"second to last:{fruits[-2]}")

First fruit:apple
last fruit:grape
second to last:orange

#List slicing

In [ ]:
print(f"First 2 fruits:{fruits[0:2]}")
print(f"last 2 fruits:{fruits[-2]}")
print(f"all except fruits:{fruits[1:]}")

First 2 fruits:['apple', 'banana']
last 2 fruits:orange
all except fruits:['banana', 'orange', 'grape']

#List methods

In [ ]:
fruits.append("kiwi")
fruits.insert(1,"mango")
removed = fruits.pop()
print(f"Updated list: {fruits}")
print(f"removed:{removed}")

Updated list: ['apple', 'mango', 'banana', 'orange', 'grape']
removed:kiwi

#List operations

In [ ]:
print(f"length: {len(fruits)}")
print(f"contains 'apple': {'apple' in fruits}")
print(f"index of 'banana' {fruits.index('banana')}")

length: 5
contains 'apple': True
index of 'banana' 2

#Tuples

#Tuples are immutable

In [ ]:
coordinates = (10,20)
rgb_color = (255,128,0)
person_info = ("alice",25,"engineer",True)

#Tuple unpacking

In [ ]:
x,y = coordinates
print(f"X: {x},Y:{y}")

X: 10,Y:20

#Tuple methods

In [ ]:
print(f"count of 25:{person_info.count(25)}")
print(f"Index of 'engineer':{person_info.index('engineer')}")

count of 25:1
Index of 'engineer':2